<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Space Stone - Marvel</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script>
        $(document).ready(function () {

            $('#movieForm').submit(function (event) {
                event.preventDefault();
                var char_name = $('#character_name').val();
                $.ajax({
                    url: '/get_characters',
                    method: 'POST',
                    data: { char_name: char_name },
                    success: function (response) {
                        $('#characterList').empty();
                        if (response.length > 0) {
                            response.forEach(function (character) {
                                $('#characterList').append('<li><span class="character-name">' + character.name + ' (' + character.role + ')</span></li>' +
                                    '<p class="character-intro">About:' + '</p>' + '<p>' + character.introduction + '</p>' +
                                    '<p class="character-rating">Rating: ' + '</p>' + '<p>' + character.rating + '</p>' +
                                    '<p class="character-movies">Movies: ' + '</p>' + '<p>' + character.movies.join(', ') + '</p>');
                            });
                        } else {
                            $('#characterList').append('<li>No characters found</li>');
                        }
                    }
                });
            });

            $('#commentForm').submit(function (event) {
                event.preventDefault();

                var formData = $(this).serialize();

                $.ajax({
                    type: 'POST',
                    url: '/add_comment',
                    data: formData,
                    success: function (response) {
                        if (response.success) {
                            var newComment = response.new_comment;
                            for (var user in newComment) {
                                var commentText = newComment[user];
                                $('#comments').append('<p><strong>' + user + ':</strong> ' + commentText + '</p>');
                            }
                        } else {
                            alert('Error: ' + response.error);
                        }
                    },
                    error: function () {
                        alert('Error: Unable to submit comment.');
                    }
                });
            });
        });
    </script>
</head>

<body>
    <h1>About Marvel Characters</h1>
    <form id="movieForm" action="/get_characters" method="post">
        <label for="character_name">Enter Characters Name:</label>
        <input type="text" id="character_name" name="character_name" required>
        <button type="submit">Get Characters</button>
    </form>

    <ul id="characterList"></ul>

    <h1>Comments</h1>
    <div id="comments">
        {% for user, comment in comments.items() %}
        <p><strong>{{ user }}:</strong> {{ comment }}</p>
        {% endfor %}
    </div>
    <hr>
    <form id="commentForm" action="/add_comment" method="post">
        <label for="comment">Comment:</label><br>
        <textarea id="comment" name="comment" rows="4" cols="50" required></textarea><br>
        <input type="submit" value="Submit">
    </form>
</body>

</html>